// адаптиный шрифт
// $mobSize - размер шрифта на разрешении 320
// $pcSize - размер шрифта по макету (на десктопе)

$maxWidth: 1280; //ширина всего полотна макета (не только контентной части, вообще всего макета)
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}



@mixin circle($diameter, $bg-color: blue) {
    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    background-color: $bg-color;
}

@mixin horizontal-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@mixin centered() {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@mixin inner-img() {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

// центрированный бэкграунд
@mixin cover-background($img-uri, $bg-color) {
  background: url($img-uri) no-repeat center;
  background-size: cover;
  background-color: $bg-color;
}


@mixin pos($pos, $t, $r, $b, $l, $z: false) {
	@if $pos { position: $pos; }
	@if $t { top: $t; }
	@if $r { right: $r; }
	@if $b { bottom: $b; }
	@if $l { left: $l; }
	@if $z { z-index: $z; }
}



// не проверял!!!!
// Простое и эффективное средство, когда вам нужно включить ускорение с помощью аппаратных средств для анимаций, сохраняя все быстрым, гладким и немерцающим.

@mixin hardware($backface: true, $perspective: 1000) {
  @if $backface {
   backface-visibility: hidden;
  }
  perspective: $perspective;
}




